<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
                #tag social("weibo")
                <a class="social weibo" target="blank" href="http://weibo.com/${site_option('social_weibo')}">微博</a>
                #end

                #tag social("zhihu")
                <a class="social zhihu" target="blank"
                   href="https://www.zhihu.com/people/${site_option('social_zhihu')}">知乎</a>
                #end

                <a class="social rss" target="blank" href="/feed">RSS</a>

                #tag social("github")
                <a class="social github" target="blank"
                   href="https://github.com/${site_option('social_github')}">Github</a>
                #end

                #tag social("twitter")
                <a class="social twitter" target="blank" href="https://twitter.com/${site_option('social_twitter')}">Twitter</a>
                #end
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="${site_url()}" class="info-logo">
                        <img src="/templates/themes/default/static/img/logo.png" alt="${site_title()}">
                    </a>
                    <div class="info-text">
                        <p>一生有所追求.</p>
                        <p>Powered by <a href="https://github.com/otale/tale" target="_blank" rel="nofollow">Tale</a>
                        </p>
                        <p>&copy; 2017 <a href="https://github.com/biezhi">biezhi</a></p>
                    </div>
                </div>
            </div>

            <div class="meta-item meta-posts">
                <h3 class="meta-title">最新文章</h3>
                #for(article : recent_articles(8))
                <li>
                    <a href="${permalink()}">${title()}</a>
                </li>
                #end
            </div>

            <div class="meta-item meta-comments">
                <h3 class="meta-title">最新评论</h3>
                #for(comm : recent_comments(8))
                <li>
                    <a href="${site_url('/article/')}${comm.cid}#comment-${comm.coid}">${comm.author}：${comm.content}</a>
                </li>
                #end
            </div>
        </div>
    </div>
</footer>

<script src="${theme_url('/static/layui/layui.js')}"></script>
<script src="${theme_url('/static/js/menu.js')}"></script>


</body>
</html>